#termin {

    .icon-container {

        @include desktop {
            width: 50%;
            margin: auto;
        }
    }

    .icon-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $text;

        &:hover {
            color: $secondary;
        }
    }

    .icon {
        width: 2rem;
        height: 2rem;
        padding: 0 0 1rem 0;
    }
}