
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: -100px;
  z-index: 1;
  width: 36px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: $text;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: 0 0 2px #0000000d;

  &.is-active {
    right: 40px;
  }
}


.footer {
  position: relative;
  margin-top: 44px;
  padding: 54px 0 14px;
  overflow: hidden;
  background: $primary;

  .space-bottom {
    padding: 0 0 30px;

    @include tablet {
      padding: 0 0 70px;
    }
  }

  .text {
    color: $text-light;
    font-weight: 400;
    font-size: 30px;
    line-height: 117%;
    padding: 0;
  }

  .social {

    &__list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      color: $text-light;

      transition: all .25s;
      will-change: transform;

      &:hover {
        transform: scale(0.9);
      }
    }
    
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 20px;
      height: 20px;
      padding: 10px;
      margin: 0 10px 0 0;

      border-radius: 50%;
      color: $primary;
      background: $secondary;
      --ionicon-stroke-width: 50px;
    }
  }

  .appointment {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-align: center;
      text-decoration: none;
      display: inline-block;

      border-radius: 327px;
      color: $primary;
      background: $secondary;
      font-weight: 600;
      padding: 12px 30px;

      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      &:hover {
        transform: scale(0.9);
      }
    }
  }


  .footer_nav {
    text-align: center;

    &__item {
      display: inline;
      margin: 0 24px;
      font-size: 0;
    }

    &__link {
      font-size: 1rem;
      color: $text-light;
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: $text-light;

    p {
      margin: 0;
    }

    @include tablet {
      flex-direction: row;
    }

    .desktop-not-mobile {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}