
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.center-text {
    text-align: center;

    p {
        text-align: initial;
    }

    @include tablet {
        p {
            text-align: center;
        }
    }
}

.no-p-margin {
    p {
        margin: 0;
    }
}

.ul-dark {
    li {
        color: $black;
    }
}

#main {
    max-width: 1920px;
    margin: 1rem auto 0;
}

a {
    text-decoration: none;
    color: $text;
    transition: all .35s;
}

body {
    font-family: $font-family;
    font-size: 1rem;
    background-color: #f2f6ff;
    color: $text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}

a {
    &:hover {
        color: $secondary;
    }
}

.page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 100%;
    padding: 8rem 0;
        

    &.no-padding {
        padding: 0;
    }
}

.full-size {
    min-height: 150px;
}

.bg-primary {
    background-color: $primary;
    color: $text;
}


// Bootstrap

.list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    @include tablet-only {
        max-width: 760px;
    }

    @include mobile {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 auto;
      row-gap: 2rem;
      flex-direction: row;
      box-sizing: border-box;
      margin-left: -10px;
      margin-right: -10px;

      .col-12 {
        width: 100%;
      }

      .col {
        padding-left: 10px;
        padding-right: 10px;
      }

    }
  }

  hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;

    &.divider {
        height: 0.2rem;
        max-width: 3.25rem;
        margin: 1.5rem auto;
        background-color: $secondary;
        opacity: 1;
        border: 2px solid;
        border-color: $secondary;
    }
    
    &.divider-light {
        background-color: $white;
    }
}