
<div class="top is-active" title="Top"><a class="center" href="#page-top"><ion-icon name="chevron-up-outline"></ion-icon></a></div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col col-12">
            
        <div class="social">
            <ul class="social__list list-reset">
            
                <li class="social__item">
                    <a aria-label="icon" class="social__link" href="mail:" rel="noopener" target="_blank"><ion-icon name="mail-outline"></ion-icon></a>
                </li>

                <li class="social__item">
                    <a aria-label="icon" class="social__link" href="tel:" rel="noopener" target="_blank"><ion-icon name="call-outline"></ion-icon></a>
                </li>

                <li class="social__item">
                    <a aria-label="icon" class="social__link" href="https://instagram.com" rel="noopener" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                </li>
                
                <!-- <li class="social__item">
                    <a aria-label="icon" class="social__link" href="https://facebook.com" rel="noopener" target="_blank"><ion-icon name="logo-facebook"></ion-icon></i></a>
                </li> -->
            
            </ul>
        </div>
  
  
          <ul class="footer_nav list-reset">
            
            <li class="footer_nav__item">
              <a class="footer_nav__link" href="/">Home</a>
            </li>
            
            <li class="footer_nav__item">
              <a class="footer_nav__link" href="/impressum">Impressum</a>
            </li>
            
            <li class="footer_nav__item">
              <a class="footer_nav__link" href="/datenschutz">Datenschutz</a>
            </li>
            
            <li class="footer_nav__item">
              <a class="footer_nav__link" href="/#termin">Termin</a>
            </li>
            
          </ul>
  
          <div class="copyright"><p> <script>document.write(new Date().getFullYear())</script> &copy; Anna Jakob</p></div>
  
        </div>
      </div>
    </div>
  </footer>

</div>


