<section id="{{ section.section_id }}" class="page-section {{ section.background_style }} procedure">
    <div class="container px-4 px-lg-5 center-text centered-section">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="{{ section.text_style | default: 'text-center' }}">
          <h2 class="mt-0 text-center">{{ section.title }}</h2>
          <hr class="divider">
        </div>
      </div>
      <div class="description">
        <p>{{ section.text | markdownify }}</p>
        <ul>
          {% for procedure in section.list %}
          <li>{{ procedure | markdownify }}</li>
        {% endfor %}
        </ul>
        <p>{{ section.text2 | markdownify }}</p>
      </div>
      {% include actions.html actions=section.actions %}
    </div>
  </section>