<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">{{ section.title }}</h2>
      <hr class="divider ">
      <div class="card-container">
        {% for service in section.services %}
        <div class="card">
          <h3>{{ service.title }}</h3>
          {{ service.text | markdownify  | class="description"}}
          {% if service.url %}
            <a href="{{ service.url }}" class="read-more">Mehr erfahren</a>
          {% endif %}
          
        </div>
        {% endfor %}
      </div>
    </div>
  </section>