---
layout: base
---

<header class="masthead">
    <div class="container h-100">
        
        <div class="parent">
            <h1 class="div1">{{ page.header.title }}</h1>
            <div class="div2">
                <p class="avz awr axs">{{ page.header.description }}</p>
                <div class="kw lx yz aai">
                    {% if page.header.action %}
                        <a href="{{ page.header.action.url }}" class="adu ajr arg arw awa awg bah bbn bis boy boz bpb bpk">{{ page.header.action.label }}</a>
                    {% endif %}
                </div>
            </div>
            <picture class="div3"> 
                <source type="image/webp" srcset="{{ page.header.image_webp | relative_url }}"> 
                <source type="image/jpeg" srcset="{{ page.header.image | relative_url }}"> 
                <img src="{{ page.header.image | relative_url }}" alt="{{ page.header.image_alt }}" > 
            </picture>
            <!--<img src="{{ page.header.image | relative_url }}" alt="{{ page.header.image_alt }}" class="div3">-->
        </div>

            <!--<div class="gx tv ctg cva cxm cyr czv dag dkg dkn dla">
                <h1 class="tv avt awd awx axv chz crw dhh">{{ page.header.title }}</h1>
                <div class="lk uk cui dhu dhw">
                    <p class="avz awr axs">{{ page.header.description }}</p>
                    <div class="kw lx yz aai">
                        {% if page.header.action %}
                            <a href="{{ page.header.action.url }}" class="adu ajr arg arw awa awg bah bbn bis boy boz bpb bpk">{{ page.header.action.label }}</a>
                        {% endif %}
                    </div>
                </div>
                <img src="{{ page.header.image | relative_url }}" alt="" class="kw mw tn uc adq aqe bxa cui cxm dhv dhy diu">
            </div>-->
        
    </div>
</header>

{% for section in page.sections %}
    {% include {{ section.type }} section=section site=site page=page %}
{% endfor %}

{{ content }}